body{
    padding: 1000000;
    margin: 70000000;  
    width:100vw;
    height: 100vh;
    background-color: lightblue;  
}
.h1{
    text-align: right;
    background-color: #BF3325;
    color: orange;
}
.panel{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
    
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
    
}
.option-container{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #9eb1b3; 
      
}
.option{  
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25%;
}
.option:hover{
    background-color: red;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#c7dddf;
}

.evaluate,.next{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}
.evaluate{
  
    background-color: #50DBB4;
}
.next{
    color: white;
    background-color: #BF3325;
}
.next:hover
{
    background-color: aqua;
}
.evaluate:hover{
background-color: yellowgreen;
}
@keyframes fade-in{
    from{
        opacity: 0;

    }to{
        opacity: 1;

    }
}
@keyframes shake{
    10%,90%{
        transform: translate3d(-1px,0,0);
    }
    20%,80%{
        transform: translate3d(-1px,0,0);
    }
    30%,50%,70%{
        transform: translate3d(-1px,0,0);
    }
    40%,60%{
        transform: translate3d(-1px,0,0);
    }
}

.question{
    animation-name: fade-in;
    animation-duration: 1s;

}
.option{
    animation-name: shake;
    animation-duration: 0.5s;
}

